* {
	font-family: Arial;
    margin: 0;
    padding: 0;
}

a {
	color: #708c00;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

body {
	background: #f9fbf4 url(../img/content_bg.gif) no-repeat center 128px;
	border-top: 5px solid #222;
}

#topo, #conteudo, #rodape {
	margin: 0 auto 0 auto;
	position: relative;
	width: 720px;
}

#topo {
	height: 128px;
}

#logo {
	float: left;
	font-size: 34px;
	margin-top: 62px;
}
/* Por Css poderia esconder o texto e adicionar a imagem via :after */

#nav {
	float: right;
	margin-top: 70px;
}
#nav li {
	border-right: 1px dotted #777;
	display: inline;
	font-size: 14px;
	font-weight: bold;
	padding: 0 15px 0 15px;
}
#nav li:last-child {
	border: none;
}
#nav a {
	color: #111;
}
#nav_supplement {
	position: absolute;
	right: 0;
	top: 5px;
}
#nav_supplement li {
	display: inline;
	font-size: 10px;
}
#nav_supplement a {
	color: #111;
}

#conteudo {
	background-image: url(../img/home_bg.jpg);
	background-repeat: no-repeat;
	margin-top: 32px;
}

#parte1 {
	height: 360px;
	position: relative;
}

#parte1 p {
	color: #999999;
	font-size: 13px;
	font-style: italic;
	position: absolute;
	right: 30px;
	top: 200px;
	width: 320px;
}
#parte1 p:first-child {
	color: #FFFFFF;
	font-size: 60px;
	font-style: normal;
	font-weight: bold;
	left: 30px;
	top: 100px;
	width: 510px;
}
#parte1 p:last-child {
	border-radius: 2px;
	font-size: 12px;
	font-style: italic;
	padding: 3px 5px 3px 5px;
	right: 265px;
	text-align: center;
	top: 250px;
	width: auto;
}
#parte1 p:last-child a {
	color: #8EAC1A;
}
#parte1 p:last-child:hover {
	background-color: #8EAC1A;
}
#parte1 p:last-child:hover a {
	color: #FFFFFF;
}
#parte1 p:last-child:hover a:after {
	content: " >";
}


#parte2 {
	background-color: #FFFFFF;
	height: 110px;
	padding: 32px 0 32px 0;
}
#parte2 section {
	border-right: 1px dotted #777777;
	float: left;
	padding: 4px 30px;
	width: 179px;
}
#parte2 section:last-child {
	border: none;
}
#parte2 h1 {
	color: #222;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 13px;
}
#parte2 p {
	color: #777;
	font-size: 11px;
	margin-bottom: 8px;
}
#parte2 a {
	font-size: 11px;
}
#parte2 a:before {
	content: "> ";
}

#rodape {
	border-top: 1px dotted #777777;
	margin-top: 48px;
	padding: 20px 0 32px 0;
}
#rodape * {
	font-size: 10px;
}
#rodape p, #rodape a {
	color: #808080;
}
#rodape p, #rodape ul {
	float: left;
}
#rodape p {
	margin: 0 25px 0 0;
}
#rodape li {
	display: inline;
	padding: 0 14px 0 14px;
}