* {
    margin: 0;
    padding: 0;
    font-family: Tahoma, Arial, sans-serif;
    box-sizing: border-box;
}

#topo {
    background: #000000 url(../img/topo.png);
}

#topo div {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    position: relative;
    height: 40px;
}

#topo div a {
    position: absolute;
    right: 10px;
    font-size: 13px;
    color: #FFFFFF;
    text-decoration: none;
    top: 13px;
    background-image: url(../img/flecha.png);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 8px;
}

#topo div img {
    margin-left: 10px;
    margin-top: 10px;
}

body {
    background-image: url(../img/fundo.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #000000;
}

#conteudo {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    background: red;
}

#textog {
    display: none;
}

#signin, #signup {
    background-color: #FFFFFF;
    width: 300px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 390px;
    padding: 10px 10px 2px 10px;
    border: 1px solid #CCCCCC;
}

#signin input,
#signup input {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    display: block;
    font-size: 15px;
    padding: 4px 3px 4px 3px;
    width: 100%;
    margin-bottom: 8px;
}

#signin label,
#signup label {
    display: none;
}

#signin-submit,
#signup-submit {
    font-size: 12px;
    font-weight: bold;
}

#signin-submit {
    background-image: url(../img/sprite-1.png) !important;
    background-position: left -140px !important;
    color: #FFF;
    width: 83px !important;
    border-color: #0066FF !important;
}

#signin-senha {
    width: 187px !important;
    float: left;
    margin-right: 8px;
}












